---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  title?: string;
  className?: string;
  classNameContent?: string;
  link?: string;
  icon?: boolean;
}

const { title, className, classNameContent, link } = Astro.props;
---

<Card
  className={cn(
    "group relative transform rounded-2xl shadow-lg transition-all duration-300 ease-in-out hover:border-primary",
    className,
    link && "cursor-pointer hover:border-primary"
  )}
>
  {
    link ? (
      <a rel="noopener noreferrer" href={link}>
        <CardHeader>
          <i
            class="position absolute right-6 group-hover:text-primary "
            data-lucide="square-arrow-out-up-right"
          />
          <CardTitle className="flex items-center text-xl font-bold">
            {title}
          </CardTitle>
        </CardHeader>
        <CardContent className={cn("", classNameContent)}>
          <slot />
        </CardContent>
      </a>
    ) : (
      <>
        <CardHeader>
          <CardTitle className="flex items-center text-xl font-bold">
            {title}
          </CardTitle>
        </CardHeader>
        <CardContent className={cn("", classNameContent)}>
          <slot />
        </CardContent>
      </>
    )
  }
</Card>

<script>
  import { SquareArrowOutUpRight, createIcons, icons } from "lucide";

  createIcons({
    icons: {
      SquareArrowOutUpRight,
    },
  });
</script>
