---
import type { HTMLAttributes } from "astro/types";

import CardInfo from "./card-info.astro";

interface Props extends HTMLAttributes<"div"> {
  time: string;
  timeZone: string;
  className?: string;
}

const { time, timeZone, className } = Astro.props;
---

<CardInfo title="Hora Actual" className={className} icon>
  <p class="mb-2 font-bold text-green-500">{time}</p>
  <p>
    Zona Horaria: <span class="font-bold text-primary">{timeZone}</span>
  </p>
</CardInfo>
