---
import { Image } from "astro:assets";
import { NETWORKS } from "@/constants";
import type { HTMLAttributes } from "astro/types";
import CardInfo from "./card-info.astro";

import bitMojiSurprised from "@/assets/bitmoji/surprised-phone.webp";

interface Props extends HTMLAttributes<"div"> {
  className?: string;
}

const { className } = Astro.props;
---

<CardInfo
  className={className}
  link={NETWORKS[3].link}
  title="Perfil de X"
  icon
>
  <i
    data-lucide="twitter"
    slot="icon"
    class="mr-2 hover:text-primary duration-300 transition-colors"></i>
  <div class="flex h-full w-full flex-col">
    <div>
      <Image
        src={bitMojiSurprised}
        class="aspect-auto h-full w-full object-cover object-center"
        alt="Bitmoji of Ivan Bongiovanni with a phone"
      />
    </div>
    <div>
      <p class="mt-2 text-muted-foreground text-sm">
        Si quieres ver mis tweets, puedes seguirme en X.
      </p>
    </div>
  </div>
</CardInfo>

<script>
  import { Twitter, createIcons } from "lucide";

  createIcons({
    icons: {
      Twitter,
    },
  });
</script>
