---
import { ChatBot } from "@/components/chat-bot/index";
import RepositoryDetail from "@/components/repository-detail.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { fetchRepositoryDetails } from "@/lib/githubApi";

const { id } = Astro.params;

if (!id || id === undefined) {
  return Astro.redirect("/");
}

const repositoryId = Number.parseInt(id);

if (!repositoryId) {
  return Astro.redirect("/");
}

const repository = await fetchRepositoryDetails(repositoryId);

if (!repository) {
  return Astro.redirect("/");
}
export const prerender = false;
---

<BaseLayout>
  <section class="h-full px-2 py-10 w-full container mx-auto">
    <RepositoryDetail repository={repository} />
    <ChatBot client:load repository={repository} />
  </section>
</BaseLayout>
