---
import { ClientRouter } from "astro:transitions";
import HeadSEO from "@/components/HeadSEO.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Analytics from "@vercel/analytics/astro";
import { Toaster } from "@/components/ui/sonner";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="es">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
    <Analytics />
  </head>
  <body class="container mx-auto h-full w-full antialiased dark">
    <main class="flex flex-col items-center justify-center">
      <Header />
      <slot />
      <Toaster />

      <Footer />
    </main>
  </body>
</html>
